
<div class="about">
    <div class="text-Container">
        <div class="about-1">
            <p class="ps">
                At SuperApp, we believe in creating innovative solutions that empower users and enhance their everyday experiences. Our team is a group of passionate developers, designers, and problem-solvers, dedicated to building this superapp with the highest standards of quality and usability.
            </p>
            <p class="ps">We are a diverse and collaborative team that thrives on pushing the boundaries of technology. From the initial idea to the final launch, every step of the journey has been fueled by our commitment to excellence, creativity, and the desire to make a difference. Our goal is to create an app that not only meets your needs but also provides a seamless, enjoyable experience for everyone.</p>
            <p class="ps">We are proud of what we've built, and were excited for what's next. Thank you for choosing our app. We're here to help, and we'll continue to improve and grow, just like our team!</p>
        </div>
    </div>
    <div class=" about-container">
        <div class="about-section">
            <div class="about-image">
                <img src="img/vibhu.jpg" >
            </div>
            <div>
                <h2>Vibhu Yadav</h2>
                <p>CEO & Founder</p>
            </div>
        </div>
        <div class="about-section">
            <div class="about-image">
                <img src="img/tii.jpg">
            </div>
            <div>
                <h2>Gullu Yadav</h2>
                <p>Cheif Instructor</p>
            </div>
        </div>
        <div class="about-section">
            <div class="about-image">
                <img src="img/duguu.jpg">
            </div>
            <div>
                <h2>Duggu Yadav</h2>
                <p>Technical Lead</p>
            </div>
        </div>
    </div>
</div>
